spring:
  application:
    name: song-service
  datasource:
    url: jdbc:postgresql://localhost:5435/song-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8083

logging:
  level:
    com.epam.microservices: DEBUG


