spring:
  application:
    name: resource-service
  datasource:
    url: jdbc:postgresql://localhost:5434/resource-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8082

song-service:
  url: http://localhost:8083


